// Always show a vertical scrollbar
// --------------------------------------------------

html {
    overflow-y: scroll;
}

/*===============================
=            Buttons            =
===============================*/

// Removing the reflect line to have plain buttons
.btn {
  .box-shadow(~"none");
}